---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Page not found">
  <p>The page you tried to visit couldn’t be found.</p>
  <p>Use the links to the left to navigate to a working page.</p>
</Layout>
