---
import DownloadLayout from "../layouts/DownloadLayout.astro"
import { DownloadList, DownloadListItem } from "../components"

const title = "Album list panel"
const description =
  "Album list panel – hierarchical media library browser for Columns UI"
const repo = "album_list_panel"
---

<DownloadLayout
  title={title}
  metaDescription={description}
  repo={repo}
  links={[
    {
      href: `https://github.com/reupen/${repo}/releases`,
      label: "Release notes",
    },
  ]}
>
  <p>
    Album list panel is a Columns UI panel that allows you to browse your music
    library in a hierarchical structure.
  </p>

  <h2>Downloads</h2>

  <h3>Latest pre-release version</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_albumlist-2.1.0-beta.1.x86-x64.fb2k-component"
      label="Version 2.1.0 beta 1"
    />
  </DownloadList>

  <h3>Latest stable version</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_albumlist-2.0.5.x86-x64.fb2k-component"
      label="Version 2.0.5"
    />
  </DownloadList>

  <h3>Previous versions</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_albumlist-2.1.0-alpha.1.x86-x64.fb2k-component"
      label="Version 2.1.0 alpha 1"
    />
    <DownloadListItem
      filename="foo_uie_albumlist-2.0.4.x86-x64.fb2k-component"
      label="Version 2.0.4"
    />
    <DownloadListItem
      filename="foo_uie_albumlist-2.0.3.x86-x64.fb2k-component"
      label="Version 2.0.3"
    />
    <DownloadListItem
      filename="foo_uie_albumlist-1.0.0.x86-x64.fb2k-component"
      label="Version 1.0.0"
    />
    <DownloadListItem
      filename="foo_uie_albumlist-0.4.2.fb2k-component"
      label="Version 0.4.2"
    />
    <DownloadListItem
      filename="foo_uie_albumlist-0.4.1.fb2k-component"
      label="Version 0.4.1"
    />
    <DownloadListItem
      filename="foo_uie_albumlist-0.3.7.fb2k-component"
      label="Version 0.3.7"
    />
  </DownloadList>
</DownloadLayout>
