---
import DownloadLayout from "../layouts/DownloadLayout.astro"
import { DownloadList, DownloadListItem } from "../components"

const title = "Console panel"
const description = "Console panel – console viewer for Columns UI"
const repo = "console_panel"
---

<DownloadLayout
  title={title}
  metaDescription={description}
  repo={repo}
  links={[
    {
      href: `https://github.com/reupen/${repo}/releases`,
      label: "Release notes",
    },
  ]}
>
  <p>Console panel is a console viewer for Columns UI.</p>

  <h2>Downloads</h2>

  <h3>Latest pre-release version</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_console-3.1.0-beta.2.x86-x64.fb2k-component"
      label="Version 3.1.0 beta 2"
    />
  </DownloadList>

  <h3>Latest stable version</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_console-3.0.0.x86-x64.fb2k-component"
      label="Version 3.0.0"
    />
  </DownloadList>

  <h3>Previous versions</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_console-2.0.0.fb2k-component"
      label="Version 2.0.0"
    />
    <DownloadListItem
      filename="foo_uie_console-1.0.1.fb2k-component"
      label="Version 1.0.1"
    />
    <DownloadListItem
      filename="foo_uie_console-0.5.0.fb2k-component"
      label="Version 0.5.0"
    />
  </DownloadList>
</DownloadLayout>
