---
import DownloadLayout from "../layouts/DownloadLayout.astro"
import { DownloadList, DownloadListItem } from "../components"

const title = "Typefind panel"
const description =
  "Typefind panel – in-line playlist search bar for Columns UI"
const repo = "typefind_panel"
---

<DownloadLayout title={title} metaDescription={description} repo={repo}>
  <p>Typefind is an in-line playlist search bar for Columns UI.</p>

  <h2>Usage</h2>

  <ol>
    <li>
      Add the panel to your layout. (For example below the playlist view in a
      vertical splitter.)
    </li>
    <li>
      Configure the search mode and pattern used by clicking the Configure...
      button on the Layout preferences page.
    </li>
    <li>Assign the Edit/Type-find command to a keyboard shortcut.</li>
    <li>
      Use your shortcut to activate Typefind and enter a search query. The Up
      and Down keys navigate through results, Enter plays the focused item and
      Ctrl+Enter adds it to the queue.
    </li>
  </ol>

  <h2>Downloads</h2>
  <h3>Latest version</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_typefind-0.4.0.x86-x64.fb2k-component"
      label="Version 0.4.0"
    />
  </DownloadList>

  <h3>Previous version</h3>
  <DownloadList>
    <DownloadListItem
      filename="foo_uie_typefind-0.3.1.fb2k-component"
      label="Version 0.3.1"
    />
  </DownloadList>
</DownloadLayout>
