---
import type { HTMLAttributes } from "astro/types"
export interface Props extends HTMLAttributes<"a"> {
  href: string
  iconClass: string
}

const { href, iconClass, ...rest } = Astro.props
---

<li>
  <a href={href} {...rest}>
    <span class="fa-li">
      <i class={iconClass}></i>
    </span>
    <slot />
  </a>
  <slot name="suffix" />
</li>
