---
import { arePathsEqual } from "../utils/arePathsEqual"

export interface Props {
  title: string
  path: string
}

const { path, title } = Astro.props
---

<li>
  <a
    href={path}
    class={arePathsEqual(Astro.url.pathname, path) ? "is-active" : ""}
  >
    {title}
  </a>
</li>
