---

---

<style>
  .screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    margin: 1.25rem 0;
  }
</style>

<div class="screenshots">
  <slot />
</div>
