@charset "utf-8";

$brown: #995002;
$charcoal: #2f2d28;
$yellow-light: #e6dece;

@use "bulma/sass/utilities" with (
  $family-primary: "system-ui, sans-serif",
  $grey-dark: $charcoal,
  $grey-light: $yellow-light,
  $link: $brown,
  $warning: #f4df8a,
  $widescreen-enabled: false,
  $fullhd-enabled: false
);

@forward "bulma/sass/base";
@forward "bulma/sass/components/menu";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/helpers/spacing";

@forward "bulma/sass/themes";

@use "bulma/sass/utilities/mixins";

@use "@fortawesome/fontawesome-free/scss/variables" with (
  $font-path: "@fortawesome/fontawesome-free/webfonts"
);
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";

:root {
  color-scheme: light dark;
  --link-dark: #e47703;
  --link-light: #b56300;
  --link-hover-dark: oklch(from var(--link-dark) calc(l + 0.2) calc(c + 0.1) h);
  --link-hover-light: oklch(
    from var(--link-light) calc(l - 0.2) calc(c + 0.1) h
  );
}

@media not (prefers-color-scheme: dark) {
  :root {
    --bulma-scheme-h: 39;
    --bulma-scheme-s: 45%;
    --bulma-scheme-main-l: 93%;
  }
}

.content {
  --bulma-content-heading-weight: 600;

  a {
    text-decoration-thickness: 6%;
    text-underline-offset: 0.2em;

    &,
    &:visited {
      color: light-dark(var(--link-light), var(--link-dark));
    }

    &:hover {
      color: light-dark(var(--link-hover-light), var(--link-hover-dark));
      text-decoration: underline;
    }
  }
}

.menu {
  --bulma-menu-list-link-padding: 0.4em 0.75em;

  @include mixins.from(utilities.$tablet) {
    margin-top: 0.5rem;
  }

  .is-active {
    font-weight: 600;
  }
}

.menu-label {
  padding-left: 0.75rem;

  &:not(:first-child) {
    margin-top: 1.25rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.menu-list a {
  margin: 0.1em 0;
}
